<div class="container">
  <div class="row">
    <div class="col s12">
      <br />
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :blacklisted, value: false %>

        <div class="field">
          <%= f.label :email %><br />
          <small>A Gmail account is required for Teacher sign-up</small>
          <%= f.email_field :email, autofocus: true %>
          <br />
        </div>

        <div class="field">
            <input name="user[teacher_or_student]" type="radio" id="user_student_radio_btn" value="student" />
            <label for="user_student_radio_btn">Student</label><br />
            <input name="user[teacher_or_student]" type="radio" id="user_teacher_radio_btn" value="teacher" />
            <label for="user_teacher_radio_btn">Teacher</label>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"btn" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
