<h1>Teacher Holidays</h1>
<h4>TimeZone: <%= @teacher[:timezone] %></h4>

<h3>Add new</h3>
<%= form_for(@teacher_holiday) do |f| %>
  <%= f.label :holiday_date_range %>
  <%= f.text_field :holiday_date_range, id: "teacher_holiday_datepicker" %><br />
  <%= f.label :description %>
  <%= f.text_field :description %><br />
  <%= f.submit "Add", class:"btn" %>
<% end %>

<br />

<h3>Listed Holidays</h3>
<% @teacher_holidays.each do |holiday| %>
  <%= sanitize_date_for_view(holiday[:holiday_date_range], @teacher[:timezone]) %><br />
  <%= holiday[:description] %><br />
  <%= link_to "Delete", teacher_holiday_path(id: holiday[:id]), data:{confirm: "Are you sure you want to delete this Holiday listed?"}, method: :delete %>
  <br />
  <br />
<% end %>


<script>
  $(document).ready(function(){
    var today = new Date();
    $("#teacher_holiday_datepicker").daterangepicker({
      minDate: today
    });
  });
  </script>
