<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      text-align: center;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>

<div class="row student_dashboard_row hide-on-med-and-down">
  <div class="col m3 student_sidebar">
    <div class="row image_and_name center" onclick="dashboardWelcome();">
      <div class="col s12">
        <p><%= "#{@student[:first_name].capitalize} #{@student[:last_name].capitalize}" %></p>
      </div>
    </div>
    <div class="sidebar_options">
      <div id="search" class="row sidebar_option_div active" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-clock-o" aria-hidden="true"> Search</i>
        </div>
      </div>
      <div id="student_yoga_sessions" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-plus" aria-hidden="true"> My Yoga Sessions</i>
        </div>
      </div>
      <div id="favorite_teachers" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-play-circle-o" aria-hidden="true"> My Favorite Teachers</i>
        </div>
      </div>
      <div id="general" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-cog" aria-hidden="true"> General</i>
        </div>
      </div>
    </div>
  </div>
  <div class="col m9 student_main_dash">
    <div class="dashboard_welcome dashboard_content">
      <h1>Dashboard Welcome!</h1>
    </div>
    <div class="search dashboard_content">
      <div class="row top_row">
        <h4>Find a Yoga-Teacher</h4>
        <%= render partial: "shared/yoga_teacher_search_form" %>
      </div>
    </div>
    <div class="student_yoga_sessions dashboard_content">
      <%= render partial: "shared/student_yoga_sessions" %>
    </div>
    <div class="favorite_teachers dashboard_content">
      <%= render partial: "shared/favorite_teachers" %>
    </div>
    <div class="general dashboard_content">
      <%= render partial: "shared/general" %>
    </div>
  </div>
</div>

<div class="row hide-on-large-only student_dashboard_row">
  <div class="col s12 student_sidebar">
    <div class="row image_and_name center" onclick="dashboardWelcome();">
      <div class="col s12">
        <p><%= "#{@student[:first_name].capitalize} #{@student[:last_name].capitalize}" %></p>
      </div>
    </div>
    <div class="sidebar_options">
      <div id="search_mobile" class="row sidebar_option_div active" onclick="clickedMobileSidebar(this);">
        <div class="col s12">
          <i class="fa fa-clock-o" aria-hidden="true"> Search</i>
        </div>
      </div>
      <div id="student_yoga_sessions_mobile" class="row sidebar_option_div" onclick="clickedMobileSidebar(this);">
        <div class="col s12">
          <i class="fa fa-plus" aria-hidden="true"> My Yoga Sessions</i>
        </div>
      </div>
      <div id="favorite_teachers_mobile" class="row sidebar_option_div" onclick="clickedMobileSidebar(this);">
        <div class="col s12">
          <i class="fa fa-play-circle-o" aria-hidden="true"> Photo's and Video's</i>
        </div>
      </div>
      <div id="general_mobile" class="row sidebar_option_div" onclick="clickedMobileSidebar(this);">
        <div class="col s12">
          <i class="fa fa-cog" aria-hidden="true"> General</i>
        </div>
      </div>
    </div>
  </div>
  <div class="row student_main_dash">
    <div class="col s12 dashboard_welcome dashboard_content">
      <h4>Welcome Dashboard Mobile</h4>
    </div>
    <div class="col s12 search_mobile dashboard_content">
      <div class="row top_row">
        <h4>Find a Yoga-Teacher</h4>
        <%= render partial: "shared/yoga_teacher_search_form" %>
      </div>
    </div>
    <div class="col s12 student_yoga_sessions_mobile dashboard_content">
      <%= render partial: "shared/student_yoga_sessions" %>
    </div>
    <div class="col s12 favorite_teachers_mobile dashboard_content">
      <%= render partial: "shared/favorite_teachers" %>
    </div>
    <div class="col s12 general_mobile dashboard_content">
      <%= render partial: "shared/general" %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    if("<%= params[:section] %>"){
      $("#<%= params[:section] %>").css("background-color", "#16e0bd");
      $("#<%= params[:section] %>_mobile").css("background-color", "#16e0bd");
      $(".dashboard_content").hide();
      $(".<%= params[:section] %>").show();
      $(".<%= params[:section] %>_mobile").show();
    }
    $('.modal').modal();
  });
</script>
