<section id="search_results">
  <div class="container-fluid">
    <div class="row center-align top_row">
      <% if @yoga_teachers.nil? %>
        <h4>No matching results. Here are our most recent Teachers</h4>
        <% @first_ten_yoga_teachers.each do |yt| %>
          <div class="col s12 m3">
            <div class="teacher_searched_individual_div">
              <%= link_to(teacher_profile_path(id: yt)) do %>
              <%= image_tag yt.profile_pic.url %><br />
              <%= yt[:first_name].capitalize %>
              <%= yt[:last_name].capitalize %><br />
              <% if yt[:average_rating] != 0.0 %>
                <i class="fa fa-star" aria-hidden="true"><%= yt[:average_rating] %></i>
              <% else %>
                <i class="fa fa-star" aria-hidden="true">No Rating</i>
              <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h4>Teachers found for <%= @yoga_type %>...</h4>
        <% @yoga_teachers.each do |yt| %>
          <div class="col s12 m3">
            <div class="teacher_searched_individual_div">
              <%= link_to(teacher_path(id: yt, day_of_week: @day_of_week, session_date: @session_date, yoga_type: @yoga_type, duration: @duration, student_timezone: @student_timezone, teacher_timezone: yt[:timezone])) do %>
                <%= image_tag yt.profile_pic.url %><br />
                <%= yt[:first_name].capitalize %>
                <%= yt[:last_name].capitalize %><br />
                <% if yt[:average_rating] != 0.0 %>
                  <i class="fa fa-star" aria-hidden="true"><%= yt[:average_rating] %></i>
                <% else %>
                  <i class="fa fa-star" aria-hidden="true">No Rating</i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
