<div class="row top_row">
  <% if current_user[:teacher_or_student] == "teacher" %>
    <div class="col m4">
      <h4>Profile</h4>
      <p>First: <%= @teacher[:first_name] %></p>
      <p>Last: <%= @teacher[:last_name] %></p>
      <p>Phone: <%= @teacher[:phone] %></p>
      <p>Timezone: <%= @teacher[:timezone] %></p>
      <p>Bio: ...</p>
      <%= link_to "Edit Profile", edit_teacher_path(@teacher) %><br />
      <h4>Sign-In</h4>
      <p>Email: <%= current_user[:email] %></p>
      <p>Password: <i class="fa fa-lock" aria-hidden="true"></i></p>
      <%= link_to "Edit Sign-In", edit_user_registration_path %>
    </div>
    <div class="col m4">
      <h4>Rating</h4>
      <% if @teacher[:average_rating] > 0.0 %>
        <h5><%= @teacher[:average_rating] %> / 5.0</h5>
        <% else %>
        <h5>No Rating Yet.</h5>
      <% end %>
    </div>
    <div class="col m4">
      <h4>Favorite Count</h4>
      <% if @favorited_count > 0 %>
        <h5>Favorited by <%= @favorited_count %> student(s).</h5>
        <% else %>
        <h5>You have not been favorited yet by any Student.</h5>
      <% end %>
    </div>
    <div class="col m4">
      <% if @teacher[:bio].nil? %>
        <%= form_tag({controller:"teachers", action:"add_bio_to_teacher_table"}) do %>
          <%= label_tag :my_biography %>
          <%= text_area_tag :my_biography %>
          <%= submit_tag "Submit", class:"btn" %>
        <% end %>
      <% end %>
    </div>
    <div class="col m4">
      <h4>Braintree</h4>
      <h5>Account Status:</h5>
      <% if !@teacher[:is_verified] %>
        <p><i class="incomplete">Not-Active</i></p>
        <p>"Setup Braintree" link available after interview approved.</p>
      <% elsif @teacher[:is_verified] && !@teacher[:merchant_account_requested] %>
        <p><i class="incomplete">Not-Active</i></p>
        <%= link_to "Setup Braintree", new_sub_merchant_path %>
      <% elsif @teacher[:is_verified] && !@teacher[:merchant_account_id].nil? && @teacher[:merchant_account_denied].nil? %>
        <p><i class="incomplete">Not-Active</i></p>
        <p>Waiting on Braintree's response...</p>
      <% elsif @teacher[:is_verified] && @teacher[:merchant_account_requested] && !@teacher[:merchant_account_denied] %>
        <p><i class="complete">Active</i></p>
        <%= link_to "Update Sub-Merchant Info", edit_sub_merchant_path(@teacher) %>
      <% elsif @teacher[:merchant_account_denied] %>
        <p>The information sent to Braintree was denied. Please update information based on the errors specified in the email sent to: <%= current_user[:email].capitalize %>.</p>
        <%= link_to "Update Sub-Merchant Info", edit_sub_merchant_path(@teacher) %>
      <% end %>
    </div>
  <% else %>
    <div class="col s12">
      <h4>Profile</h4>
      <p>First: <%= @student[:first_name] %></p>
      <p>Last: <%= @student[:last_name] %></p>
      <p>Phone: <%= @student[:phone] %></p>
      <p>Timezone: <%= @student[:timezone] %></p>
      <p>Description: ...</p>
      <%= link_to "Edit Profile", edit_student_path(@student) %><br />
      <h4>Sign-In</h4>
      <p>Email: <%= current_user[:email] %></p>
      <p>Password: <i class="fa fa-lock" aria-hidden="true"></i></p>
      <%= link_to "Edit Sign-In", edit_user_registration_path %>
    </div>
  <% end %>
</div>
