<% if user_signed_in? && current_user[:teacher_or_student] == "teacher" %>
  <div class="row top_row hide-on-med-and-down">
    <div class="col m3 offset-m3">
      <p>Upload a Photo</p>
      <%= form_for @teacher_image, url: teacher_images_path, html: { multipart: true } do |f| %>
        <%= f.file_field :image %><br />
        <%= f.submit "Submit", class:"btn" %>
      <% end %>
    </div>
    <div class="col m3">
      <p>Upload a Video</p>
      <%= form_for @teacher_video, url: teacher_videos_path, html: { multipart: true } do |f| %>
        <%= f.file_field :video %><br />
        <%= f.submit "Submit", class:"btn" %>
      <% end %>
    </div>
  </div>
  <div class="row top_row hide-on-large-only">
    <div class="row">
      <div class="mobile_photo_and_vid_upload">
        <div class="col s6">
          <p>Upload a Photo</p>
          <%= form_for @teacher_image, url: teacher_images_path, html: { multipart: true } do |f| %>
            <%= f.file_field :image %><br />
            <%= f.submit "Submit", class:"btn" %>
          <% end %>
        </div>
        <div class="col s6">
          <p>Upload a Video</p>
          <%= form_for @teacher_video, url: teacher_videos_path, html: { multipart: true } do |f| %>
            <%= f.file_field :video %><br />
            <%= f.submit "Submit", class:"btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
<% end %>
<div class="border"></div>
<div class="row">
  <h5>Photos</h5>
  <% @teacher_images.each do |ti| %>
    <div class="col s6 m3">
      <%= image_tag ti.image.url %><br />
      <%= link_to "Delete", teacher_image_path(id: ti), data:{confirm: "Are you sure you want to delete this image?"}, method: :delete if current_user[:teacher_or_student] == "teacher" %>
    </div>
  <% end %>
</div>
<div class="row">
  <h5>Videos</h5>
  <% @teacher_videos.each do |tv| %>
    <div class="col s6 m6">
      <%= video_tag(tv.video.url, :size => "320x240", :controls => true, :autobuffer => true) %>
      <%= link_to "Delete", teacher_video_path(id: tv), data:{confirm: "Are you sure you want to delete this video?"}, method: :delete if current_user[:teacher_or_student] == "teacher" %>
    </div>
  <% end %>
</div>
