<div id="nav_bar" class="container-fluid teacher_navbar">
  <div class="row">
    <div class="col s3 m1 teacher_navbar_logo_div">
      <a href="/"><img src="/assets/yogalit_logo.png" /></a>
    </div>
    <div class="col s3 m3">
      <div class="hide-on-med-and-down">
        <p>
          <%= current_user[:email].capitalize %><br />
          Account Status: Searchable
        </p>
      </div>
    </div>
    <div class="col m2">
      <div class="hide-on-med-and-down">
        <p>
          Vacation-Mode:<br />
          ON / OFF
        </p>
      </div>
    </div>
    <div class="col s6 right">
      <div class="header-links hide-on-med-and-down">
        <%= link_to "Home", '/' %>
        <%= link_to "Contact", new_user_message_path %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </div>
      <div class="header-bars hide-on-large-only">

        <ul id="slide-out" class="side-nav center">
          <br />
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "Contact", new_user_message_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><a href="#signup_modal">Sign-Up</a></li>
            <li><a href="#login_modal">Login</a></li>
          <% end %>
        </ul>
        <i class="fa fa-bars button-collapse" data-activates="slide-out" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
