<div id="nav_bar" class="container-fluid teacher_navbar">
  <div class="row">
    <div class="col s3 m1 teacher_navbar_logo_div">
      <a href="/"><img src="/assets/yogalit_logo.png" /></a>
    </div>
    <div class="col s3 m3">
      <div class="hide-on-med-and-down">
        <p>
          <%= current_user[:email].capitalize %><br />
          Account Status:
          <% if @teacher[:is_searchable] && @teacher[:is_verified] %>
            <span class="account_status">Searchable</span>
          <% else %>
            <span class="account_status">Not Searchable</span>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col m2">
      <div class="hide-on-med-and-down">
        <p>
          Vacation-Mode:<br />
          <div class="switch">
            <label>
              Off
              <% if @teacher[:vacation_mode] %>
                <input type="checkbox" checked>
              <% else %>
                <input type="checkbox">
              <% end %>
              <span class="lever" onclick="toggleVacationMode();"></span>
              On
            </label>
          </div>
        </p>
      </div>
    </div>
    <div class="col s6 right">
      <div class="header-links hide-on-med-and-down">
        <%= link_to "Home", '/' %>
        <%= link_to "Contact", new_user_message_path %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </div>
      <div class="header-bars hide-on-large-only">

        <ul id="slide-out" class="side-nav center">
          <br />
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "Contact", new_user_message_path %></li>
          <% if user_signed_in? %>
            <a href="#"><p>
              <%= current_user[:email].capitalize %><br />
              Account Status:
              <% if @teacher[:is_searchable] && @teacher[:is_verified] %>
                <span class="account_status">Searchable</span>
              <% else %>
                <span class="account_status">Not Searchable</span>
              <% end %>
            </p></a>
            <a href="#"><p>
              Vacation-Mode:<br />
              <div class="switch">
                <label>
                  Off
                  <% if @teacher[:vacation_mode] %>
                    <input type="checkbox" checked>
                  <% else %>
                    <input type="checkbox">
                  <% end %>
                  <span class="lever" onclick="toggleVacationMode();"></span>
                  On
                </label>
              </div>
            </p></a>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><a href="#signup_modal">Sign-Up</a></li>
            <li><a href="#login_modal">Login</a></li>
          <% end %>
        </ul>
        <i class="fa fa-bars button-collapse" data-activates="slide-out" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function toggleVacationMode(){
    var url = "/toggle_vacation_mode";
    var request = $.ajax({
      method: "POST",
      url: url,
      success: function(result){
        if(result.searchable && result.verified){
          $(".account_status").text("Searchable");
          $(".vacation_mode_div").hide();
          $(".teacher_general_notice_div").show();
        }else if(!result.searchable && result.vacation_mode){
          $(".account_status").text("Not Searchable");
          $(".teacher_general_notice_div").hide();
          $(".vacation_mode_div").show();
        }else if(!result.searchable && !result.vacation_mode){
          $(".account_status").text("Not Searchable");
          $(".vacation_mode_div").hide();
          $(".teacher_general_notice_div").show();
        }else{
          $(".account_status").text("Not Searchable");
          $(".teacher_general_notice_div").hide();
          $(".vacation_mode_div").show();
        }
      }
    });
  }
</script>
