<div id="nav_bar" class="container-fluid welcome_nav">
  <div class="row">
    <div class="col s3 m1">
      <a href="/"><img src="/assets/yogalit_logo.png" /></a>
    </div>
    <div class="col s3 m5"></div>
    <div class="col s6">
      <div class="header-links hide-on-med-and-down">
        <%= link_to "Home", '/' %>
        <%= link_to "Contact", new_user_message_path %>
        <%#= link_to "Find-Teachers", search_for_teachers_path %>
        <%= link_to "About", '#' %>
        <a href="#signup_modal"><button>Sign-Up</button></a>
        <a href="#login_modal"><button>Login</button></a>
      </div>
      <div class="header-bars hide-on-large-only">

        <ul id="slide-out" class="side-nav center">
          <br />
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "Contact", new_user_message_path %></li>
          <!-- <li><%#= link_to "Find-Teachers", search_for_teachers_path %></li> -->
          <li><%= link_to "About", "#" %></li>
          <li><a href="#signup_modal">Sign-Up</a></li>
          <li><a href="#login_modal">Login</a></li>
        </ul>
        <i class="fa fa-bars button-collapse" data-activates="slide-out" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
