<h1>Teacher Dashboard</h1>

<h3>Teacher Profile</h3>
<%= link_to "Edit Teacher Profile", edit_teacher_path(@teacher) %>

<h3>Hours of Operation</h3>
<%= link_to "Monday", new_teacher_monday_time_frame_path %><br />
<%= link_to "Tuesday", new_teacher_tuesday_time_frame_path %><br />
<%= link_to "Wednesday", new_teacher_wednesday_time_frame_path %><br />
<%= link_to "Thursday", new_teacher_thursday_time_frame_path %><br />
<%= link_to "Friday", new_teacher_friday_time_frame_path %><br />
<%= link_to "Saturday", new_teacher_saturday_time_frame_path %><br />
<%= link_to "Sunday", new_teacher_sunday_time_frame_path %>
