<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      max-width: none;
      table-layout: fixed;
      word-wrap: break-word;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      text-align: center;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>

<div class="row teacher_dashboard_row">
  <div class="col m3 teacher_sidebar">
    <div class="row image_and_name" onclick="teacherDashboardWelcome();">
      <div class="col s6">
        <%= image_tag @teacher.profile_pic.url %>
      </div>
      <div class="col s6">
        <p><%= "#{@teacher[:first_name].capitalize} #{@teacher[:last_name].capitalize}" %></p>
      </div>
    </div>
    <div class="sidebar_options">
      <div id="hours_of_operations" class="row sidebar_option_div active" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-clock-o" aria-hidden="true"> Hours Of Operations</i>
        </div>
      </div>
      <div id="yoga_types" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-plus" aria-hidden="true"> Yoga Types</i>
        </div>
      </div>
      <div id="photos_and_videos" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-play-circle-o" aria-hidden="true"> Photo's and Video's</i>
        </div>
      </div>
      <div id="session_and_tax_prices" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-money" aria-hidden="true"> Session and Tax Prices</i>
        </div>
      </div>
      <div id="holidays" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-plane" aria-hidden="true"> Holidays</i>
        </div>
      </div>
      <div id="yoga_sessions" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-calendar" aria-hidden="true"> Yoga Sessions</i>
        </div>
      </div>
      <div id="general" class="row sidebar_option_div" onclick="clickedSidebar(this);">
        <div class="col s12">
          <i class="fa fa-cog" aria-hidden="true"> General</i>
        </div>
      </div>
    </div>
  </div>
  <div class="col m9 teacher_main_dash">
    <div class="dashboard_welcome dashboard_content">
      <h1>Dashboard Welcome!</h1>
    </div>
    <div class="hours_of_operations dashboard_content">
      <%= render partial: "shared/hours_of_operations" %>
    </div>
    <div class="yoga_types dashboard_content">
      <%= render partial: "shared/yoga_types" %>
    </div>
    <div class="photos_and_videos dashboard_content">
      <%= render partial: "shared/photos_and_videos" %>
    </div>
    <div class="session_and_tax_prices dashboard_content">
      <%= render partial: "shared/session_and_tax_prices" %>
    </div>
    <div class="holidays dashboard_content">
      <%= render partial: "shared/holidays" %>
    </div>
    <div class="yoga_sessions dashboard_content">
      <%= render partial: "shared/yoga_sessions" %>
    </div>
    <div class="general dashboard_content">
      <%= render partial: "shared/general" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function clickedSidebar(l){
    $(".sidebar_option_div").css("background-color", "#1c1b1b");
    $("#"+l.id).css("background-color", "#16e0bd");
    $(".dashboard_content").hide();
    $("."+l.id).show();
  }

  function teacherDashboardWelcome(){
    $(".sidebar_option_div").css("background-color", "#1c1b1b");
    $(".dashboard_content").hide();
    $(".dashboard_welcome").show();
  }

  $(document).ready(function(){
    if("<%= params[:section] %>"){
      $("#<%= params[:section] %>").css("background-color", "#16e0bd");
      $(".dashboard_content").hide();
      $(".<%= params[:section] %>").show();
    }
    var today = new Date();
    $("#teacher_holiday_datepicker").daterangepicker({
      minDate: today
    });
  });

</script>
