<section id="teachers_continued_registration">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <br />
        <h4>Finish Yogalit Registration</h4>
        <%= form_for(@teacher) do |f| %>
          <%= f.hidden_field :is_searchable, value: false %>
          <%= f.hidden_field :is_verified, value: false %>
          <%= f.hidden_field :blacklisted, value: false %>
          <%= f.hidden_field :has_been_blacklisted, value: false %>
          <%= f.hidden_field :blocked, value: false %>
          <%= f.hidden_field :vacation_mode, value: false %>
          <%= f.hidden_field :merchant_account_requested, value: false %>
          <%= f.label :first_name %>
          <br />
          <%= f.text_field :first_name, required: true, onkeypress: "return isChar(event);", maxlength: "25" %>
          <br />
          <%= f.label :last_name %>
          <br />
          <%= f.text_field :last_name, required: true, onkeypress: "return isChar(event);", maxlength: "25" %>
          <br />
          <%= f.label :phone %>
          <br />
          <%= f.text_field :phone, required: true, onkeypress: "return isNumber(event);" %>
          <br />
          <br />
          <%= f.label :payout_type, "How would you like to receive payment?" %>
          <br />
          <h6> -Bank</h6>
          <input name="teacher[payout_type]" type="radio" id="direct_deposit_radio_btn" value="bank" />
          <label for="direct_deposit_radio_btn">Direct-Deposit</label><br />
          <h6> -Venmo (Must have Venmo account already set up.)</h6>
          <input name="teacher[payout_type]" type="radio" id="email_radio_btn" value="email" />
          <label for="email_radio_btn">Email</label><br />
          <input name="teacher[payout_type]" type="radio" id="mobile_phone_radio_btn" value="mobile_phone" />
          <label for="mobile_phone_radio_btn">Mobile-Phone</label>
          <br />
          <br />
          <%= f.label :registered_business, "Are you a registered business? (Legal Name, Tax-ID)" %>
          <br />
          <input name="teacher[registered_business]" type="radio" id="is_registered_radio_btn" value="true" />
          <label for="is_registered_radio_btn">Yes</label><br />
          <input name="teacher[registered_business]" type="radio" id="isnt_registered_radio_btn" value="false" />
          <label for="isnt_registered_radio_btn">No</label>
          <br />
          <br />
          <%= f.label :time_zone %>
          <br />
          <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, {default: "Eastern Time (US & Canada)"}, class:"browser-default" %>
          <br />
          <%= f.label :certificate, "Yoga Alliance Certificate" %>
          <br />
          <%= f.file_field :certificate, required: true %>
          <br />
          <%= f.label :profile_pic, "Main profile picture" %>
          <br />
          <%= f.file_field :profile_pic, required: true %>
          <br />
          <div class="continued_registration_btn_div">
            <button>Complete</button>
            <br />
            <br />
            <small>
              After continuing, you will be asked to authenticate through the Google
              Calendar API which will allow an interview time to be created for
              both yourself and the Yogalit admin who will be interviewing you.
            </small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
