<h1>Teacher Continued Registration</h1>

<%= form_for(@teacher) do |f| %>
  <%= f.label :first_name %>
  <br />
  <%= f.text_field :first_name %>
  <br />
  <%= f.label :last_name %>
  <br />
  <%= f.text_field :last_name %>
  <br />
  <%= f.label :phone %>
  <br />
  <%= f.text_field :phone %>
  <br />
  <%= f.label :time_zone %>
  <br />
  <%= f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, {default: "Eastern Time (US & Canada)"}, class:"browser-default" %>
  <br />
  <%= f.label :profile_pic, "Main profile picture" %>
  <br />
  <%= f.file_field :profile_pic %>
  <br />
  <%= f.submit "Submit", class:'btn' %>
<% end %>
