<section id="teachers_show">
  <div class="container-fluid teacher_top_info">
    <div class="row top_row">
      <div class="col s12">
        <div class="col m4 s12 center">
          <%= image_tag @teacher.profile_pic.url %>
          <p><%= @teacher[:first_name].capitalize %> <%= @teacher[:last_name].capitalize %></p>
        </div>
        <div class="col m8 s12">
          <h5>Bio</h5>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>




<div class="container">
  <div class="row">
    <div class="col s12">
      <br>
      <h1>Searched Teacher Show Page</h1>
      <br />
      <h5>Teacher Name: <%= @teacher[:first_name].capitalize %> <%= @teacher[:last_name].capitalize %></h5>
      <%= link_to "Favorite #{@favorite_teacher_count}", add_favorite_teacher_path(id: @teacher[:id]), class:"btn", method: :post %>
      <h5>Type of Yoga: <%= params[:yoga_type] %></h5>
      <h5>Day: <%= params[:day_of_week] %></h5>
      <h5>Date: <%= sanitize_date_for_view(params[:session_date]) %></h5>
      <h5>Duration: <%= params[:duration] %> minutes</h5>
      <h5>Pricing:</h5>
      <h6>30-minutes: $<%= @teacher_price_ranges[:thirty_minute_session] %></h6>
      <h6>60-minutes: $<%= @teacher_price_ranges[:sixty_minute_session] %></h6>
      <h6>90-minutes: $<%= @teacher_price_ranges[:ninety_minute_session] %></h6>
      <br />
      <%= form_tag({controller: "payments", action:"new"}, method: :get) do %>
        <%= hidden_field_tag :search_params, nil, value: params.to_json %>
        <%= label_tag :session_time, "Available Times for this date in #{params[:student_timezone]}:" %>
        <%= select_tag :session_time, options_for_select(@filtered_booking_time_options) %>
        <br />
        <%= submit_tag "Select", class:"btn" %>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('select').material_select();
  });
</script>
