<section id="new_payments">
  <div class="container-fluid">
    <div class="row complete_booking_row">
      <div class="col s12">
      </div>
    </div>
  </div>

  <div class="row complete_booking_row">
    <div class="col s12 credit_card_info_div">
      <div class="col s12 m4 offset-m4 left-align">
        <div class="col s12 confirm_booking_div container">
          <h5>Confirm Booking</h5>
        </div>
        <div class="payment_summary_div">
          <strong>Teacher Name:</strong><br /> <span><%= "#{@teacher[:first_name].capitalize} #{@teacher[:last_name].capitalize}" %></span><br /><br />
          <strong>Session Date:</strong><br /> <span><%= "#{@search_params["day_of_week"]}, #{sanitize_date_for_view(@search_params["session_date"])}" %></span><br /><br />
          <strong>Session Time:</strong><br /> <span><%= "#{sanitize_date_for_time_only(@session_time.first)}-#{sanitize_date_for_time_only(@session_time.last)}, #{@search_params["student_timezone"]}" %></span><br /><br />
          <strong>Session Duration:</strong><br /> <span><%= @search_params["duration"] %> minutes</span><br /><br />
          <strong>Type of Yoga:</strong><br /> <span><%= @search_params["yoga_type"] %></span><br /><br />
          <strong>Sales Price:</strong><br /> <span>$<%= @price_without_tax %></span><br /><br />
          <strong>Sales Tax:</strong><br /> <span><%= @sales_tax %>%</span><br /><br />
          <strong>Total Price:</strong><br /> <span>$<%= @total_price %></span><br /><br />
          <div id="dropin-container"></div>
          <br />
          <a href="#payment_processing"><button id="submit-button">Book Now!</button></a>
          <div class="payment_disclosure_div text-center">
            <small><i>By clicking "Book Now!" you are agreeing to the Yogalit <%= link_to "Terms of Use", terms_and_conditions_path %> and <%= link_to "Privacy Policy", privacy_policy_path %>.</i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="payment_processing" class="modal">
    <div class="modal-content">
      <h4>Payment Processing</h4>
      <h5>Please wait...</h5>
      <div id="paymentProgress">
        <div id="paymentBar"></div>
      </div>
  </div>
</section>


<script>
  var button = document.querySelector('#submit-button');

  braintree.dropin.create({
    authorization: "<%= @client_token %>",
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (err, payload) {
        var nonce = payload.nonce.toString();
        var requestData = {"day_of_week": "<%= @search_params['day_of_week'] %>", "duration": "<%= @search_params['duration'] %>", "session_date": "<%= @search_params['session_date'] %>", "student_time_frame": "<%= @search_params['student_time_frame'] %>", "student_timezone": "<%= @search_params['student_timezone'] %>", "teacher_timezone": "<%= @search_params['teacher_timezone'] %>", "yoga_type": "<%= @search_params['yoga_type'] %>", "id": "<%= @search_params['id'] %>", "session_time": "<%= ((@session_time.first)..(@session_time.last)) %>", "price_without_tax": "<%= @price_without_tax %>", "sales_tax": "<%= @sales_tax %>", "total_price": "<%= @total_price %>", "payload_nonce": nonce };
        var url = "/payments";
        var request = $.ajax({
          method: "POST",
          url: url,
          data: requestData,
          success: function(result){
            if(result.success){
              window.location.replace("/payment_confirmation");
            }else{
              // raise error message
              alert("Payment Failed");
              location.reload();
            }
          }
        });
      });
    });
  });
</script>
