<!DOCTYPE html>
<html>
<head>

  <!-- Compiled and minified CSS -->

<!-- Compiled and minified JavaScript -->
  <title>Yogalit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">


  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", '/' %><br />
  <%= link_to "Back", :back %><br />
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) if user_signed_in? %>


<%= yield %>



</body>
</html>
