<!DOCTYPE html>
<html>
<head>
  <title>Yogalit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", '/' %><br />
  <%= link_to "Back", :back %><br />
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) if user_signed_in? %>


<%= yield %>



</body>
</html>
